<!DOCTYPE html>
<html lang="ko">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>건진창호</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<header class="header">

<div class="logo">건진창호</div>

<nav>

<a href="/">홈</a>

<a href="/portfolio">시공사례</a>

<a href="/admin">관리자</a>

</nav>

</header>

{% block content %}
{% endblock %}

<!-- 문의 버튼 -->
<div class="contact-buttons">

<a href="tel:010-7137-2313" class="call-btn">
📞 전화문의
</a>

<a href="https://open.kakao.com/o/https://s4CBOShi" target="_blank" class="kakao-btn">
💬 카카오톡 문의
</a>

</div>
</body>
</html>